# top-most EditorConfig file
root = true

[*]                        # applies to all files
charset = utf-8
end_of_line = lf           # Unix-style line endings (LF)
insert_final_newline = true
indent_style = space
indent_size = 2

[*.md]                     # overrides for Markdown files
trim_trailing_whitespace = false
